{% extends 'templates/base.html' %}

{% block title %} Home {% endblock title %}


{% block header %}
	      <div class="header">
        	<h1>PyHosting</h1>
        	<p class="lead">Static hosting made easy.</p>
	      </div>
	      <div class="about">
		      <h1>About us</h1>
	      </div>
	      <div class="contact">
		      <h1>Contact us</h1>
	      </div>
{% endblock header %}

{% block isindex %}active{% endblock isindex%}

{% block nav %}
       <li><a id="about" href="#about">About</a></li>
       <li><a id="contact" href="#contact">Contact</a></li>
{% endblock nav%}


{% block content %}
<div class="header">
  This is header
</div>
<div class="about">
  <p>Users :</p>
  <ul>
  {% for user in users %}
  <li><a href="/{{ user }}">{{ users[user][0] }}</a></li>
  {% endfor %}
  </ul>
</div>
<div class="contact">
  This is contact
</div>
{% endblock content %}

{% block jquery %}
<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"></script>
<script src="{{ STATIC_URL }}js/application.js"></script>
{% endblock jquery %}

